Source: ros-kinetic-cloudwatch-metrics-common
Section: misc
Priority: extra
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), cmake, google-mock, libgtest-dev, ros-kinetic-aws-common, ros-kinetic-catkin, ros-kinetic-dataflow-lite, ros-kinetic-file-management
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-cloudwatch-metrics-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-aws-common, ros-kinetic-dataflow-lite, ros-kinetic-file-management
Description: Library used by ROS1/2 node to publish metrics
